.container-1{
    background-color: red;
    
 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.boxkiri{
    background-color: orange;
}

.container-2{
    background-color: aqua;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}