*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    width: 800px;
    margin: auto;
    background-color: rgb(34, 204, 0);
    padding: 10px;
}
header.h1{
      margin-bottom: 20px;
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
}
li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: ease-in-out 0.3s;
}

li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 34);
    padding: 5px;
    border-radius: 10px;
}
.gambar{
    width: 100%;
    height: 300px;
    background-image: url(../kawasan-bundaran-hi-2_169.jpeg);
    background-size: center;
    background-position:  center;
    margin: 10px 0 10px 0;
}
.container{
    width: 600px;
   margin: auto;
   margin: auto;
   position: relative;
}
header{
    padding: 15px:
}
main{
    padding: 15px:
}
h2{
    margin: ;
    font-weight: normal;
    color: black;
}
h3{
    font-weight: bold;
    color: rgb(0, 199, 33);
}
p{
    margin border-bottom: 10px;
    line-height: 1.5;
    font-size; 10px;
}
footer{
    width: 100px;
    height: 50px;
    background-color: green;
    color: black;
    padding: 10px;
    text-align: center;
}

img{
    position: absolute;
    right: 0;
    top: 0;
}

